content {
    display: flex;
    width: 80%;
    margin: auto;
}

button {
    width: 30%;
    height: 10%;
    border: none;
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 10px;
    cursor: pointer;
}

.icon {
    margin-top: 20px;
}